<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.course.lawoffice.persistence.mybatis.AffairRepositoryImpl">
    <select id="countByCriteria" resultType="java.lang.Integer" parameterType = "com.solvd.course.lawoffice.domain.criteria.AffairCriteria">
        select count(1) as affairs_count from affairs
        <if test = "status != null">
            where status = #{status}
        </if>
    </select>
</mapper>